<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    
    <div style="width: 300px;position: relative;left: 450px;top: 120px;">
        <h2 style="position: relative;left: 80px;color: darkblue;font-size: 50px;">Login</h2>
    <form method="post">
      
        <label style="font-size: 30px;" for="username">Username:</label>
        <input  style="font-size: 20px;" type="text" name="username" id="username" required><br>

        <label style="font-size: 30px;" for="password">Password:</label>
        <input style="font-size: 20px;" type="password" name="password" id="password" required><br>

        <input style="font-size: 30px; background-color: rgb(145, 253, 22);position: relative;top: 30px;left: 90px;" type="submit" value="Login">
    </form>
    </div>
</body>
</html>
